.checkout-container {
    width: 55%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3.2rem auto 0;
    .check-out-header {
        width: 100%;
        padding: 0.8rem 0;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid darkgrey;
    
        .check-out-header-block {
          text-transform: capitalize;
          width: 23%;
    
          &:last-child {
            width: 8%;
          }
        }
      }
    .total {
        margin-top:1.8rem;
        margin-left: auto;
        font-size: 2.25rem;
      }
}